:root {
	--wrapper: 88vw;
	--gutter: 1.6vw;
	--col: calc((var(--wrapper) - 15 * var(--gutter)) / 16);
	--col-2: calc(var(--col) * 2 + var(--gutter));
	--col-3: calc(var(--col) * 3 + 2 * var(--gutter));
	--col-4: calc(var(--col) * 4 + 3 * var(--gutter));
	--col-5: calc(var(--col) * 5 + 4 * var(--gutter));
	--col-6: calc(var(--col) * 6 + 5 * var(--gutter));
	--col-7: calc(var(--col) * 7 + 6 * var(--gutter));
	--col-8: calc(var(--col) * 8 + 7 * var(--gutter));
	--col-9: calc(var(--col) * 9 + 8 * var(--gutter));
	--col-10: calc(var(--col) * 10 + 9 * var(--gutter));
	--col-11: calc(var(--col) * 11 + 10 * var(--gutter));
	--col-12: calc(var(--col) * 12 + 11 * var(--gutter));
	--col-13: calc(var(--col) * 13 + 12 * var(--gutter));
	--col-14: calc(var(--col) * 14 + 13 * var(--gutter));
	--col-15: calc(var(--col) * 15 + 14 * var(--gutter));
}

.card__section {
	position: relative;
	width: var(--wrapper);
	margin: 70px auto 0 auto;
	padding: 0 0 calc(80px - var(--gutter));
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	.blocks {
		.block {
			width: 100%;
			position: relative;
			font-size: 24px;
			margin: 0 0 var(--gutter);
			display: block;
			height: 32vw;

			&:hover {
				cursor: pointer;
			}

			.images {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: 0.8s;
				-webkit-perspective: 28vw;
				perspective: 28vw;

				.img {
					display: block;
					position: absolute;

					img {
						width: 100%;
					}
				}
			}

			.texts {
				.text_one {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 34px 35px;
				}

				.text_two {
					position: absolute;
					bottom: 0;
					right: 0;
					padding: 34px 35px;
					opacity: 0;
				}
			}
		}
	}

	.left__blocks {
		flex: 0 0 var(--col-8);

		.block_one {
			position: relative;
			background: #fbe5e1;
			color: #1d2146;

			.images {
				.imgBg {
					width: 75%;
					top: 15%;
					left: 12.5%;
				}

				.img_card1 {
					width: 42%;
					left: 15%;
					top: 22%;
				}

				.img_card2 {
					width: 42%;
					left: 49%;
					top: 6%;
				}
			}
		}

		.block_two {
			background: #cce8ff;
			color: #1d2146;

			.images {
				.img_bg {
					width: 75%;
					top: 15%;
					left: 12.5%;
				}

				.img_card1 {
					width: 43%;
					left: 6%;
					top: 5%;
				}
				.img_card2 {
					width: 39%;
					left: 35%;
					top: 30%;
				}
				.img_card3 {
					width: 36%;
					left: 63%;
					top: 11%;
				}
			}
		}
	}
	.right__blocks {
		flex: 0 0 var(--col-8);

		.block_three {
			background: #6b5aed;
			color: #fff;

			.img_bg {
				width: 80%;
				top: 15%;
				left: 12.5%;
			}

			.img_grass {
				width: 10%;
				top: 53%;
				left: 55%;
			}

			.img_notif1 {
				width: 48%;
				top: 11%;
				left: 50%;
			}

			.img_notif2 {
				width: 48%;
				top: 26%;
				left: 55%;
			}

			.img_notif3 {
				width: 48%;
				top: 41%;
				left: 50%;
			}
		}

		.block_four {
			background: #eff2f6;
			color: #17294d;

			.images {
				.img_bg {
					width: 75%;
					top: 15%;
					left: 12.5%;
				}

				.img_card1 {
					width: 40%;
					top: 16%;
					left: 6%;
				}

				.img_data1 {
					width: 68%;
					top: 20%;
					left: 33%;
				}

				.img_user1 {
					width: 54%;
					top: 6%;
					left: 49%;
				}

				.img_user2 {
					width: 54%;
					top: 18.5%;
					left: 51%;
				}
			}
		}
	}
}
